langchain[openai]
langchain_classic
langchain_community
langchain_chroma
langchain_huggingface
langchain_experimental
langgraph
langfuse
sentence_transformers
chroma
ipykernel
dotenv
pypdf2
beautifulsoup4 
pymupdf
fastapi[standard]
langgraph-checkpoint-sqlite
isort
black
gTTS
langchain-groq
